<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" charset="utf-8"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <style media="screen">
  @font-face {
    src: url(https://tandoori-momos.github.io/font/ok.otf);
    font-family: ok;
  }
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(https://tandoori-momos.github.io/bg.jpg) center center no-repeat fixed, -webkit-linear-gradient(top, rgb(92, 224, 210) 0%, rgb(8, 72, 153) 100%);
      background-blend-mode: multiply;
    }

    #song-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      z-index: 100;
      font-family: ok;
      text-transform: uppercase;
      font-size: 56px;
      letter-spacing: 2px;
      text-align: center;
    }

    iframe {
      position: absolute;
      z-index: 1000;
    }
  </style>
</head>
<body>

  <div class="bg"></div>
  <div id ="song-title">Room id: 201</div>
  <iframe width="0" height="0" src="https://www.youtube.com/embed/gmcVvQjPMUU?autoplay=1"></iframe>

</body>

<script>
  const iframe = document.getElementsByTagName('iframe')[0];
  const playlist = [];
  const socket = io.connect('http://localhost:8080');
  const baseUrl = 'https://www.youtube.com/embed/';

  socket.on('songCode', function(data) {
    playlist.push({
      code: data.code,
      dur: data.dur,
      title: data.title
    });

  });

  const max = 10; // holds the maximum number of songs in playlist
  let curr = 0; // holds index of current song playing
  let next = 0; // holds index of next song to be played

  function changeSong(num) {
    if (playlist[num].code) {
      iframe.src =  baseUrl + playlist[num].code + '?autoplay=1';
      curr = next;

      document.getElementById('song-title').innerHTML = playlist[curr].title;

      delay(playlist[num].dur)
        .then(() => {
          next++;
          console.log('ok');
          changeSong(next);
        })
        .catch((err) => {
          console.log(err);
        });

    } else {
      next++;
      changeSong(next);
    }
  }

  function delay(duration) {
    return new Promise(function(resolve, reject) {
      if (next == max) {
        reject(new Error('songs exhausted!'));
      } else {
        setTimeout(resolve, duration);
      }
    });
  }

  socket.on('playlistGenerated', function() {
    changeSong(next);
  });
</script>
</html>
